.main_header{
    background-color: var(--BG_COLOR_L0);
 
    


    .main_nav{
        padding: 0 50px;
        min-height: 80px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .first_container{
        display: flex;
        align-items: center;

        .logo img {
            width: 115px;
            height: 45px;
            padding-bottom: 10px;
        } 
    }
     .links , .links ul {
        // padding-top: 5px;
        display: flex;
        align-items: center;
     }

      .links ul li  {
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        line-height: normal; 
        padding-left: 10px;
        cursor: pointer;
        &:first-child{
            padding-left: 1rem;
        }
    }

   
      .link_btns{
     
        display: flex;
        align-items: center;
        justify-content: center;
     

        .input {
            margin-right: 2rem;
            
                 input {
                    border: none;
                    background-color: var(--BG_COLOR_L0);
                    width: 240px;
                    height: 32px;
                    color: var(--TEXT_COLOR_L0);
                    border-bottom: 1px solid var(--TEXT_COLOR_L0) ;
                    outline: none;
                }
            }


        .button {
        button {
            margin-right: 10px;
           
            border-radius: 20px;
            background-color: var( --TEXT_LINK_COLOR);
             color: var(--TEXT_COLOR_L0);


             padding: 0 12px;
           letter-spacing: 0.4px;
            font-weight: 700;

    border-radius: 4px;
        }
    }

    .login{
        font-weight: 500;
        text-transform: uppercase;
        color: var(--TEXT_COLOR_L1);
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
    }
      }
}

