.carousel-container {
    border-radius: 5px;
    // background-color: var(--CARD_GRADIENT);
    height: auto;
  }
  
  .carousel-container .carousel-description,
  .carousel-container .carousel-overlay {
    display: none;
  }
  
  .carousel-container .carousel-img img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
  }
  .slidersads{
    overflow: hidden;
  }
  .container{
    min-height: 50vh;
    width: 100%;
    margin: 10px  10rem;
    padding: 10px;
    background-color: aqua;

    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background: linear-gradient(90deg,#030b18 12%,rgba(4,11,24,0));
    display: block;
    border-radius: 5px;



  }
  .imgd{
    display: inline-block;
  }
  .containers{
    background-color: red;
    min-height: 50vh;
    width: 100%;
    margin: 10px  10rem;
    padding: 10px;
  }





.imgd   {
  
 
    height: 444px;
    width:calc(100% - 0px);
    margin: auto;
}
.masthead-item-container{
  background-color: var(--BG_COLOR_L0);
  margin: 0 10px;
  width:calc(100% - 30px) !important ;
  border-radius: 5px;
    overflow: hidden;
width: 100%;
height: inherit;
color: white;
position: relative;

}

.carousel-description{
  position: absolute;
    left: 1em;
    top: 2em;
    width: 40%;
    padding: 4em;
    display: block;
    z-index: 1;


    h2 {
      // font-size: 28px;
      font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (1600 - 300)));
    
      font-weight: 600;
    -webkit-line-clamp: 2;
    // text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    }
    
    h6{
      // font-size: 16px;
      font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
      font-weight: 500;
      color: gray;
      padding-top: 10px;
    }
    p{
      font-size: 16px;
      overflow-wrap: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      line-height: 28px;
      padding-top: 10px;
    }
}

.carousel-overlay {

    top: 0;
    right: 590px;
    width: 200px;
    height: inherit;
    content: '';
    position: absolute;
    background: linear-gradient(to right , var(--CARD_GRADIENT) , rgba(0,0,0,0.1));
    

}
.img_container{

text-align: end;
 border-radius: 5px;
 max-width: none;

  img{
    
    display: inline;
    border-radius: 25px;
    overflow: hidden;
    width: 790px;
    display: flex;
    float: right;
    min-height: 444px;
    border-radius: 5px;
    // vertical-align: middle;
    border-style: none;
    
  }
}