/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

:root{
  --BG_GRADIENT_L1: linear-gradient(to bottom, #192133, #111826);
  --BG_GRADIENT_L2: linear-gradient(to bottom, #334366, #334366, #1c2940);
  --TEXT_COLOR_L0: #fff;
  --TEXT_COLOR_L1: rgba(255, 255, 255, 0.8);
  --TEXT_COLOR_L2: rgba(255, 255, 255, 0.6);
  --TEXT_LINK_COLOR: #1f80e0;
  --TEXT_BTN_COLOR: #1f80e0;
  --BG_COLOR_L0: #0c111b;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
   font-family: 'Roboto', sans-serif ;
  background-image:var(--BG_GRADIENT_L1); 
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
li{
  list-style: none;
}
